# Text Files

*.txt
!CMakeLists.txt
Makefile
*.cmake
*~
*.xml
*.vec

# Folders

CMakeFiles/*
Ball_Positives/*
Negatives/*
cascade/*
Human_Positives/*
cropped/*

# Executables

create_positive_samples
create_negative_samples
test_classifier
